@charset "UTF-8";
/* ==========  UI-kit ============= */
/* Basic utils  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Common styles  */
body {
  font-family: "Montserrat", serif;
}

/* Imported styles  */
.container {
  padding: 20px;
  background-color: #397b97;
}

.btn {
  display: flex;
  align-items: center;
  gap: 25px;
  height: 80px;
  background-color: #2065C8;
  border-radius: 10px;
  margin-bottom: 20px;
  border: none;
  color: #FFFFFF;
  font-size: 15px;
  cursor: pointer;
  padding: 24px 35px;
}
.btn:hover {
  background-color: #0C51B4;
  color: #FFFFFF;
}
.btn:disabled {
  background-color: #89ADE2;
  color: #FFFFFF;
  pointer-events: none;
  opacity: 0.8;
}

.link-services {
  display: flex;
  align-items: center;
  gap: 36px;
  width: 423px;
  height: 140px;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-bottom: 20px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #4C5E78;
  text-decoration: none;
}
.link-services .block-image {
  width: 90px;
  height: 90px;
  margin-left: 40px;
  border-radius: 50%;
  background-color: #F2F5FC;
}
.link-services img {
  padding: 18px 21px;
}
.link-services:hover {
  background-color: #2065C8;
  color: #FFFFFF;
}
.link-services.inactive, .link-services:disabled {
  background-color: #89ADE2;
  color: #FFFFFF;
  opacity: 0.7;
  pointer-events: none;
}
.link-services.inactive .block-image, .link-services:disabled .block-image {
  background-color: #FFFFFF;
}

.link-continue {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 40px;
  background-color: #FFFFFF;
  color: #4C5E78;
  border: none;
  width: 437px;
  height: 140px;
  border-radius: 20px;
  font-size: 18px;
  margin-bottom: 20px;
  text-decoration: none;
}
.link-continue:hover {
  color: #2065C8;
}
.link-continue:hover .btn-arrow {
  background: #2065C8;
}
.link-continue:hover svg path {
  stroke: #FFFFFF;
}
.link-continue.inactive, .link-continue:disabled {
  opacity: 0.9;
  color: #D2D6DD;
  pointer-events: none;
}
.link-continue.inactive .btn-arrow, .link-continue:disabled .btn-arrow {
  background-color: #2065C8;
  opacity: 0.5;
}
.link-continue.inactive svg path, .link-continue:disabled svg path {
  stroke: #FFFFFF;
}

.btn-arrow {
  border: 1px solid #2065C8;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-simple {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  background-color: #2065C8;
  color: #FFFFFF;
  border: none;
  height: 70px;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px 40px;
  text-decoration: none;
  max-width: max-content;
  flex: 0 0 auto; /* Добавляем это свойство, чтобы элемент не увеличивался или уменьшался */
}
.btn-simple:hover {
  background-color: #0C51B4;
}
.btn-simple.inactive, .btn-simple:disabled {
  background-color: #89ADE2;
  opacity: 0.8;
  pointer-events: none;
}
.btn-simple.btn-wide {
  width: 437px;
  max-width: none;
}

.btn-transparent {
  border: 1px solid #FFFFFF;
  background: none;
}
.btn-transparent:hover {
  background-color: #FFFFFF;
  color: #2065C8;
}
.btn-transparent.inactive, .btn-transparent:disabled {
  color: #FFFFFF;
  pointer-events: none;
  opacity: 0.7;
  border: none;
}

.btn-video {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  color: #FFFFFF;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 400;
  line-height: 22px;
  position: relative;
}
.btn-video .arch {
  display: flex;
  position: relative;
  height: 72px;
}
.btn-video .circle {
  position: absolute;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #FFFFFF;
  margin: auto;
  right: 0;
  left: 3px;
  top: 0px;
  bottom: 0;
}
.btn-video .play {
  position: absolute;
  width: 18px;
  height: 18px;
  margin: auto;
  right: 0;
  left: 10px;
  top: 0px;
  bottom: 0;
}
.btn-video .text {
  margin-left: -5px;
}
.btn-video:hover .play svg path {
  fill: #2065C8;
}
.btn-video.inactive {
  opacity: 0.5;
  pointer-events: none;
  color: rgba(255, 255, 255, 0.3137254902);
}

.slide-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  border: 1px solid #2065C8;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  margin-bottom: 20px;
  text-decoration: none;
}
.slide-contsvg {
  fill: #2065C8;
}
.slide-cont:hover {
  background-color: #2065C8;
}
.slide-cont:hover svg path {
  stroke: #FFFFFF;
}
.slide-cont.inactive {
  opacity: 0.8;
  pointer-events: none;
}

.slide-up {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #2065C8;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.slide-up:hover {
  background-color: #0C51B4;
}
.slide-up.inactive {
  opacity: 0.8;
  pointer-events: none;
  background-color: #89ADE2;
}

.link-vk {
  display: block;
  margin-bottom: 20px;
}
.link-vk svg rect:hover {
  fill: #0C51B4;
}
.link-vk.inactive svg rect {
  opacity: 0.8;
  pointer-events: none;
  fill: #89ADE2;
}

.link-call {
  display: block;
  margin-bottom: 20px;
}
.link-call svg rect:hover {
  fill: #0C51B4;
}
.link-call.inactive svg rect {
  opacity: 0.8;
  pointer-events: none;
  fill: #89ADE2;
}

.link-messeng {
  display: block;
  margin-bottom: 20px;
}
.link-messeng svg rect:hover {
  fill: #0C51B4;
}
.link-messeng.inactive svg rect {
  opacity: 0.8;
  pointer-events: none;
  fill: #89ADE2;
}

.form-bid {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.form-bid label {
  margin-bottom: 9px;
}
.form-bid.inactive {
  pointer-events: none;
  opacity: 0.5;
}

.name {
  width: 393px;
  height: 70px;
  background-color: #F2F5FC;
  border-radius: 10px;
  border: 0;
  color: #282828;
  padding-left: 25px;
  outline: none;
}
.name:focus {
  color: #000000;
  border-bottom: 3px solid #2065C8;
  cursor: pointer;
}
.name:hover {
  color: #000000;
  border-bottom: 3px solid #2065C8;
  cursor: pointer;
}

/* ==========  end UI-kit ============= */
.wrapper {
  height: 229px;
}
.wrapperimg {
  display: block;
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
