/* ==========  UI-kit ============= */

/* Basic utils  */
@use "./reset.scss";
@use "./variables.scss";

/* Common styles  */
@use "./common.scss";

/* Imported styles  */
@use "./UI-kit/buttons.scss";
@use "./UI-kit/inputs.scss";
@use "./UI-kit/typography.scss";

/* ==========  end UI-kit ============= */


.wrapper {
    height: 229px;
    
    img {
        display: flex;
        margin: 0 auto 0;
    }

    .menu {
        display: flex;
        justify-content: center;
    }

    .list-item {
        display: flex;
        justify-content: space-between;
        width: 631px;
        height: 56px;
        list-style: none;
        font-family: "Lato", serif;
        font-weight: 400;
        font-size: 18px;

        .item {
            display: flex;
            align-items: center;
        }
    }
}






