//main block//
$white:#FFFFFF;
$background:#F2F5FC;
$gray:#D2D6DD;
$blue:#2065C8;
$dark-blue:#0C51B4;
$blue-2:#1D3354;
$error:#C82020;
//Text//
$black:#282828;
$gray-2:#4C5E78;
$light-gray:#8EA1BC;
//Icon//
$White-gradient:#FFFFFF;
$White-50:#FFFFFF 50%;
$light-blue:#89ADE2;
$Gradient:#F2F5FC;
$Gradient:#2065C8;  

