//main block//
$bg-color:#FFFFFF;
$bg-color:#F2F5FC;
$bg-color:#D2D6DD;
$bg-color:#2065C8;
$bg-color:#0C51B4;
$bg-color:#1D3354;
$bg-color:#C82020;
//Text//
$bg-color:#FFFFFF;
$bg-color:#282828;
$bg-color:#4C5E78;
$bg-color:#8EA1BC;
$bg-color:#2065C8;
$bg-color:#C82020;
//Icon//
$bg-color:#FFFFFF;
$bg-color:#FFFFFF;
$bg-color:#FFFFFF 50%;
$bg-color:#2065C8;
$bg-color:#89ADE2;
$bg-color:#F2F5FC;
$bg-color:#2065C8;