@use "../variables.scss" as *;
@use "../UI-kit/typography.scss" as*;

.container {
    padding: 20px;
    background-color: #397b97;
}

.btn {
    display: flex;
    align-items: center;
    gap: 25px;
    width: 447px;
    height: 80px;
    background-color: $Gradient-2;
    border-radius: 10px;
    margin-bottom: 20px;
    border: none;
    color: $white;
    font-size: 15px;
    cursor: pointer;
    padding: 24px 35px;

    &:hover {
        background-color:$dark-blue;
        color: $white;
    }

    &:disabled {
        background-color: $light-blue;
        color: $white;
        pointer-events: none;
        opacity: 0.8;
    }
}

.link-services {
    display: flex;
    align-items: center;
    gap: 36px;
    width: 423px;
    height: 140px;
    background-color: $white;
    border-radius: 10px;
    margin-bottom: 20px;
    border: none;
    font-size: $font-size-standart;
    font-weight: 500;
    line-height: 22px;
    color: $gray-2;
    text-decoration: none;

    .block-image {
        width: 90px;
        height: 90px;
        margin-left: 40px;
        border-radius: 50%;
        background-color: $Gradient;
    }

    img {
        padding: 18px 21px;
    }

    &:hover{
        background-color:$Gradient-2;
        color: $white;
    }

    &.inactive, &:disabled {
        background-color: $light-blue;
        color: $white;
        opacity: 0.7;
        pointer-events: none;

        .block-image {
            background-color: $white;
        }
    }
}

.link-continue {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 40px;
    background-color: $white;
    color: $gray-2;
    border: none;
    width: 437px;
    height: 140px;
    border-radius: 20px;
    font-size: $font-size-small;
    margin-bottom: 20px;
    text-decoration: none;

    &:hover {
        color: $blue;

        .btn-arrow {
            background: $blue;
        }

        svg path {
            stroke: $white; 
        }
    }

    &.inactive, &:disabled {
        opacity: 0.9;
        color: $gray;
        pointer-events: none;

        & .btn-arrow {
            background-color: $Gradient-2;
            opacity: 0.5;
        }

        & svg path  {
            stroke:$white;
        }
    }
}
    
.btn-arrow {
    border: 1px solid $Gradient-2;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn-simple {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    background-color: #2065C8;
    color: #FFFFFF;
    border: none;
    height: 70px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px 40px;
    text-decoration: none;
    max-width: max-content;
    flex: 0 0 auto; /* Добавляем это свойство, чтобы элемент не увеличивался или уменьшался */
    
    &:hover {
        background-color: $dark-blue;
    }

    &.inactive, &:disabled {
        background-color: $light-blue;
        opacity:0.8;
        pointer-events: none;
    }

    // &.btn-wide {
    //     width: 437px;
    //     max-width: none;
}

.btn-transparent {
    border: 1px solid $white;
    background: none;

    &:hover {
        background-color: $white;
        color: $blue;

        svg path {
            fill: $Gradient-2;
        }
    }

    &:hover svg path {
        fill: $Gradient-2;
    }

    &.inactive, &:disabled {
        color: $white;
        pointer-events: none;
        opacity: 0.7;
        border: none;
    }
}

.btn-video {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    color: $white;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 22px;
    position: relative;

    .arch {
        display: flex;
        position: relative;
        height: 72px;
    }

    .circle {
        position: absolute;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background-color: #FFFFFF;
        margin: auto;
        right: 0;
        left: 3px;
        top: 0px;
        bottom: 0;
    }

    .play {
        position: absolute;
        width: 18px;
        height: 18px;
        margin: auto;
        right: 0;
        left: 10px;
        top: 0px;
        bottom: 0;
    }
    
    .text {
        margin-left: -5px;
    }

    &:hover .play svg path {
        fill: $Gradient-2;
    }

    &.inactive {
        opacity:0.5;
        pointer-events: none;
        color: #FFFFFF50;
    }
}


.slide-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border: 1px solid $Gradient-2;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    margin-bottom: 20px;
    text-decoration: none;

    &svg {
        fill: $Gradient-2;
    }

    &:hover {
        background-color: $Gradient-2;
    }

    &:hover svg path  {
        stroke:$white;
    }

    &.inactive {
        opacity:0.8;
        pointer-events: none;
    }
}

.slide-up {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: $Gradient-2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    &:hover {
        background-color: $dark-blue;
    }

    &.inactive {
        opacity:0.8;
        pointer-events: none;
        background-color: $light-blue;
    }
}

.link-vk {
    display: block;
    margin-bottom: 20px;

    & svg rect:hover {
        fill: $dark-blue;
    }

    &.inactive svg rect  {
        opacity:0.8;
        pointer-events: none;
        fill: $light-blue;
    }
}

.link-call {
    display: block;
    margin-bottom: 20px;

    & svg rect:hover {
        fill: $dark-blue;
    }

    &.inactive svg rect  {
        opacity:0.8;
        pointer-events: none;
        fill: $light-blue;
    }
}

.link-messeng {
    display: block;
    margin-bottom: 20px;

    & svg rect:hover {
        fill: $dark-blue;
    }

    &.inactive svg rect  {
        opacity:0.8;
        pointer-events: none;
        fill: $light-blue;
    }
}

.form-bid {
    margin-bottom:20px;
    display: flex;
    flex-direction: column;

    & label {
        margin-bottom: 9px;
    }

    &.inactive {
        pointer-events: none;
        opacity: 0.5;
    }
}

.name {
    width: 393px;
    height: 70px;
    background-color: $Gradient;
    border-radius: 10px;
    border: 0;
    color: $black;
    padding-left: 25px;
    outline: none;

    &:focus {
        color: #000000;
        border-bottom: 3px solid $Gradient-2;
        cursor: pointer;
    }

    &:hover {
        color: #000000;
        border-bottom: 3px solid $Gradient-2;
        cursor: pointer;
    }
}
