@use "../variables.scss" as *;
@use "../UI-kit/typography.scss" as*;

.container {
    padding: 20px;
    background-color: lightgreen;
}

.btn-static {
    display: flex;
    align-items: center;
    gap: 75px;
    width: 447px;
    height: 80px;
    background-color: $Gradient-2;
    border-radius: 10px;
    margin-bottom: 20px;
    border: none;
    color: $white;
    font-size: 18px;
    cursor: pointer;
    font-family: "Lato";
    padding: 24px 35px;

    &:hover {
        background-color:$dark-blue;
        color: $white;
    }
}

 .btn-static:disabled {
    background-color: $light-blue;
    color: $white;
    pointer-events: none;
    opacity: 0.8;
 }

 .btn-consultation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 447px;
    height: 80px;
    background-color: $blue-2;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid $white;
    color: $white;
    font-size: 18px;
    cursor: pointer;
    font-family: "Lato";
    padding: 24px 35px;

    &:hover {
        background-color: $white;
        color: $Gradient-2;
    }

    &:hover svg path {
        fill: $Gradient-2;
    }
}


.btn-consultation:disabled  {
    background-color: $gray-2;
    opacity: 0.5;
    pointer-events: none;
}

.btn-surgery {
    display: flex;
    align-items: center;
    gap: 36px;
    width: 423px;
    height: 140px;
    background-color: $white;
    border-radius: 10px;
    margin-bottom: 20px;
    border: none;
    font-size: $font-size-small;
    font-weight: 500;
    line-height: 22px;
    color: $gray-2;
    font-family: "Lato";

    .block-image {
        width: 90px;
        height: 90px;
        margin-left: 40px;
        border-radius: 50%;
        background-color: $Gradient;
    }

    img {
        padding: 18px 21px;
    }

    &:hover{
        background-color:$Gradient-2;
        color: $white;
    }
}

 .btn-surgery:disabled {
    background-color: $light-blue;
    color: $white;
    opacity: 0.7;

    .block-image {
        background-color: $white;
    }
}

.treatment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 40px;
    background-color: $white;
    color: $black;
    border: none;
    width: 437px;
    height: 140px;
    border-radius: 20px;
    font-family: "Lato";
    font-size: $font-size-small;
    margin-bottom: 20px;

    &:hover {
        color:$Gradient-2;
    }

    &:hover .btn-arrow {
        background-color: $Gradient-2;
    }

    &:hover .btn-arrow svg path  {
        stroke:$white;
    }
}
    
.btn-arrow {
    border: 1px solid $Gradient-2;
    width: 58px;
    height: 58px;
    border-radius: 50%;

    svg {
        padding: 20px 22px;
    }
}

.treatment:disabled {
    opacity: 0.9;
    color: $gray;
    pointer-events: none;

    & .btn-arrow {
        background-color: $Gradient-2;
        opacity: 0.5;
    }

    & svg path  {
        stroke:$white;
    }
}

.btn-direction {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-small;
    font-weight: 600;
    font-family: "Lato";
    background-color: $Gradient-2;
    color: $white;
    border: none;
    width: 220px;
    height: 70px;
    border-radius: 10px;
    margin-bottom: 20px;
    
    &:hover {
        background-color: $dark-blue;
    }
}

.btn-direction:disabled {
    background-color: $light-blue;
    opacity:0.8;
}

.btn-about {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-small;
    font-weight: 600;
    font-family: "Lato";
    background-color: $Gradient-2;
    color: $white;
    border: 1px solid $white;
    width: 162px;
    height: 70px;
    border-radius: 10px;
    margin-bottom: 20px;

    &:hover {
        background-color: $white;
        color: $Gradient-2;
    }
}

.btn-about:disabled {
    background-color: $Gradient-2;
    color: $white;
    pointer-events: none;
    opacity: 0.7;
}

.btn-subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-small;
    font-weight: 600;
    font-family: "Lato";
    background-color: $white;
    color: $Gradient-2;
    border: 2px solid $Gradient-2;
    width: 437px;
    height: 70px;
    border-radius: 10px;
    margin-bottom: 20px;

    &:hover {
        background-color: $Gradient-2;
        color: white;
        border: none;
    }
}

.btn-subscribe:disabled {
    background-color: $light-blue;
    color: $white;
    pointer-events: none;
    opacity: 0.7;
    border: none;
}

.btn-view {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-small;
    font-weight: 600;
    font-family: "Lato";
    background-color: $white;
    color: $Gradient-2;
    border: 2px solid $Gradient-2;
    width: 437px;
    height: 70px;
    border-radius: 10px;
    margin-bottom: 20px;

    &:hover {
        background-color: $white;
        color: $Gradient-2;
        border: none;
    }
}

.btn-view:disabled {
    background-color: $white;
    color: $Gradient-2;
    pointer-events: none;
    opacity: 0.7;
    border: 2px solid $Gradient-2;
}

.btn-video {
    display: flex;
    align-items: center;
    width: 117px;
    height: 72px;
    color: $white;
    position: relative;
    font-family: "Lato";
    font-size: $font-size-small;
    margin-bottom: 20px;
    font-weight: 400;
    
    &:hover .btn-ring svg path  {
        fill: $Gradient-2;
    }
}

.btn-ring {
    border-radius: 50%;
    width: 38px;
    height: 38px;
    background-color: $white;
    position: absolute;
    left: 17px;
    bottom: 19px;

    & svg {
        padding: 12px 14px;
    }
}

//не работает disabled//
// .btn-video:disabled { 
//     opacity:0.8;
//     pointer-events: none;
//     color: gray;
//     background-color: red;
// }

.btn-slide {
    margin-bottom: 20px;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    border: 1px solid $Gradient-2;
    
    & svg {
        padding: 20px 25px;
    }

    &:hover {
        background-color: $Gradient-2;
    }

    &:hover svg path  {
        stroke:$white;
    }
}

//не работает disabled// btn-slide

.btn-slide-up {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: $Gradient-2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    &:hover {
        background-color: $dark-blue;
    }
}

//не работает disabled//
.btn-slide-up:disabled {
    pointer-events: none;
    opacity: 0.5;
}

.vk:hover {
    content:('');
    background: url('./img/Vk\ dark-blue.png');
}



.questionnaire-default {
    width: 393px;
    height: 70px;
    background-color: $Gradient;
    border-radius: 10px;
    border: none;
    color: $light-gray;
    padding-left: 25px;
}

.questionnaire-default:disabled {
    opacity: 0.5;
}

.questionnaire-active {
    width: 393px;
    height: 70px;
    background-color: $Gradient;
    border-radius: 10px;
    border: none;
    padding-left: 25px;
    
    &:active {
        color: #000000;
        border-bottom: 5px solid $Gradient-2;
        }
}

.questionnaire-error {
    width: 393px;
    height: 70px;
    background-color: $Gradient;
    border-radius: 10px;
    border: none;
    padding-left: 25px;
}

.questionnaire-error:required {
    color: red;
}

.questionnaire-hover {
    width: 393px;
    height: 70px;
    background-color: $Gradient;
    border-radius: 10px;
    border: none;
    padding-left: 25px;

    &:hover {
        color: #000000;
        border-bottom: 5px solid $Gradient-2;
        cursor: pointer;
        }
}    