@use "../variables.scss" as *;

.container {
    padding: 20px;
}

.container__btn {
    width: 447px;
    height: 80px;
    background-color: $blue;
    border-radius: 10px;
    margin-bottom: 20px;
}

.container__btn i {
    width: 32px;
    height: 32px;
}