.block-1 {
    width: 1000px;
    height: 250px;
    border: 2px solid black;
    background: yellow;
    margin: 0 auto;
}

.block-2 {
    width: 1200px;
    height: 200px;
    background: red;
    border: 2px solid black;
    margin: auto;
}

.block-3 {
    width: 1000px;
    height: 400px;
    background: blue;
    border: 3px solid black;
    margin: auto;
}