.block-1 {
    width: 1000px;
    height: 250px;
    border: 1px solid #0000;
    background: yellow;
    margin: 0 auto;
}

.block-2 {
    width: 1300px;
    height: 200px;
    background: red;
    border: 2px solid black;
    margin: auto;
}