@use "../variables.scss" as *;
@use "../UI-kit/typography.scss" as *;

.personal {
    position: relative;
    height: 980px;
    margin-top: 120px;
    background-color: #FFFFFF;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    .title-specialist {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin:0 40px 48px;
        gap: 40px;
        padding-top: 120px;
    }

    .link-specialists {
        display: flex;
        align-items: center;
        gap: 9px;
        height: max-content;
        left: 40px;
        top: 129px;

        &::before {
            content: "";
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $Gradient-2;
        }
    }

    .title-text {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        grid-column: 2/5;
        font-size: 48px;
        font-weight: 600;
        line-height: 57px;

        p:first-child {
            color: #2065C8;
        }
    
        p:last-child {
            color: #282828;
        }
    }

    .slide-specialist {
        display: flex;
        justify-content: space-between;
        top: 149px;
        right: 39px;
        width: 130px;
    }

    .block-description {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        margin-left: 39px;
        margin-right: 40px;
        margin-bottom: 120px;

        .description {
            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;
            gap: 30px;
            padding: 0 50px;
            background-color: #2065C8;
            background-image: url('../img/Vector\ \(3\).png');
            border-radius: 20px;
            background-repeat: no-repeat;
            background-position: bottom 31px right -1px;

            p:first-child {
                font-size: 40px;
                font-weight: 600;
                line-height: 48px;
                color: #FFFFFF;
            }

            p:last-of-type {
                font-size: 16px;
                font-weight: 400;
                line-height: 23px;
                color: #FFFFFF;
            }
        }

        .about  {
        

            img {
                width: 100%;
                margin-bottom: 20px;
                border-radius: 20px;
            }

            .about-text {

                p:first-child {
                    margin-bottom: 8px;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 29px;
                    color: #282828;
                }
    
                p {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 23px;
                    color: #4C5E78;
    
                }
            }
        }
    }
}