@use "../variables.scss" as *;
@use "../UI-kit/typography.scss" as *;

.service {
    position: relative;
    margin-top: 120px;
    margin-left: 40px;
    margin-right: 40px;

    .service-menu {
        display: flex;
        justify-content: center;
    }

    .link-medical {
        position: absolute;
        display: flex;
        align-items: center;
        gap: 7px;
        color: #4C5E78;
        left: 0;
        top: 9px;
    }

    .title-text {
        font-size: 48px;
        font-weight: 600;
        line-height: 57px;

        p:first-child {
            color: #2065C8;
        }
    
        p:last-child {
            color: #282828;
        }
    }

    .btn-simple {
        position: absolute;
        top: 37px;
        right: 40px;
    }

    .row {
        display: grid;
        grid-template-columns:1fr 3.5fr;
        grid-template-rows: 1fr;
        margin-top: 48px;
        gap: 30px;
        

        .row-img > img{
            width: 100%;
            height: 100%;
            //  background-image: url('..//..//img/Stethoscope.png');
             border-radius: 20px;
             object-fit: cover;
            //  background-size: cover;
         }

         .row-service {
             display: grid;
             grid-template-columns:repeat(3,448px);
             grid-template-rows: 1fr 1fr 1fr 1fr;
             gap: 30px;

             .link-services {
                 margin-bottom: 0;
                 height: 153px;
                 width: 448px;
             }
        }
     }
}
